zephyrproject/*
!zephyrproject/zephyr

zephyrproject/zephyr/*
!zephyrproject/zephyr/samples

zephyrproject/zephyr/samples/*
!zephyrproject/zephyr/samples/bluetooth

zephyrproject/zephyr/samples/bluetooth/*
!zephyrproject/zephyr/samples/bluetooth/central_hr

zephyrproject/zephyr/samples/bluetooth/*
!zephyrproject/zephyr/samples/bluetooth/peripheral_hr

binaries/*
zephyr-sdk-0.14.2/*
zephyr-sdk-0.15.0/*

ble.resc
*.elf

.vscode

zephyrproject/*
!zephyrproject/zephyr

zephyrproject/zephyr/*
!zephyrproject/zephyr/include

zephyrproject/zephyr/include/*
!zephyrproject/zephyr/include/bluetooth

zephyrproject/zephyr/include/bluetooth/*
!zephyrproject/zephyr/include/bluetooth/services

zephyrproject/zephyr/include/bluetooth/services/*
!zephyrproject/zephyr/include/bluetooth/services/hrs.h

zephyrproject/*
!zephyrproject/zephyr

zephyrproject/zephyr/*
!zephyrproject/zephyr/subsys

zephyrproject/zephyr/subsys/*
!zephyrproject/zephyr/subsys/bluetooth

zephyrproject/zephyr/subsys/bluetooth/*
!zephyrproject/zephyr/subsys/bluetooth/services

zephyrproject/zephyr/subsys/bluetooth/services/*
!zephyrproject\zephyr\subsys\bluetooth\services\hrs.c




